@import (less) "normalize.css";

@import 'classes';
@import 'mixins';
@import 'scrollbar';
@import 'variables';

img {
  display: block;

  max-width: 100%;
  height: auto;

  vertical-align: middle;

  &.avatar {
    width: 16px;
    height: 16px;

    display: inline-block;
  }
}

#note_container {
  width: 300px;
  padding: 0;

  border: 1px #ccc solid;
}

#loader {
  width: 16px;

  margin: 10px auto;
}

ol.notes {
  padding: 0;
  margin: 0;

  list-style: none;
}

li.note {
  .note-mixin();

  blockquote {
    border-left: 1px #ccc solid;
    margin: 10px 0 1px 0;
    padding-left: 15px;
  }
}

#post-container {
  color: @base;

  .note-mixin();
}

blockquote > a {
  color: @base;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

.action {
  font-size: 10px;

  a { .link-style(); }
}

.back-to-notes {
  font-size: 12px;

  .link-style();
}

.more_comments {
  text-align: center;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

#open-blog {
  display: block;

  padding: 6px 0;

  background: @accent;
  color: @base0;

  font-size: 13px;
  text-align: center;
  text-decoration: none;

  &:hover { background: darken(@accent, 5%); }
}

.answer_content {
  color: @base;
  font-size: 16px;
}
