#open-blog {
  display: block;

  padding: 6px 0;

  background: @accent;
  color: @base0;

  font-size: 13px;
  text-align: center;
  text-decoration: none;

  &:hover { background: darken(@accent, 5%); }
}

.back-to-notes { font-size: 12px; }

.responses {
  padding-left: 0;

  list-style-type: none;
}

.content {
  padding: 0 15px;
  border-left: 1px #ccc solid
}
