# OS Level
.DS_Store

# Node modules
node_modules/

# Bower components
bower_components/

# Generated css
css/

# Build folder
build/

# precompiled templates
templates/*.js

# Place to keep things like API keys secret
.secret/
