<a href="#" class="back-to-notes">‹ Back to Notes</a>
<% if(!_.isEmpty(responses)) { %>
<div id="response-container">
  <p id="response-button">Show Previous Responses</p>
  <ol class="responses hide">
  <% _.each(responses, function(response) { %>
    <li class="response">
      <%= response.blog %>
      <div class="content">
        <%= response.content %>
      </div>
    </li>
  <% }); %>
  </ol>
</div>
<% } %>
<div class="full-post">
  <%= fullText %>
</div>
<a href="<%= permalink %>" id="open-blog" target="_blank">
  Open in New Tab
</a>
