<a rel="nofollow" class="avatar_frame" target="_blank" href="<%= blogs[0].link %>" title="<%= blogs[0].title %>"><img src="<%= blogs[0].avatar %>" class="avatar" alt=""></a>
<span class="action" data-post-url="<%= permalink %>">
  <a rel="nofollow" href="<%= blogs[0].link %>" class="tumblelog" title="<%= blogs[0].title %>" target="_blank"><%= blogs[0].username %></a> reblogged this from <a rel="nofollow" href="<%= blogs[1].link %>" class="source_tumblelog" title="<%= blogs[1].title %>" target="_blank"><%= blogs[1].username %></a> and added:
</span>
<div class="clearfix"></div>
<blockquote>
  <a class="preview-link" href="<%= permalink %>" target="_blank">
    <%= preview_text %>
  </a>
</blockquote>
